<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>-- Properties File Comments --</comment>
<!-- WebDriverSystemPaths -->
<entry key="WebDriverSystemPaths.Chrome">C:\Users\i-am-\Documents\06. PROGRAMS\Programming\Selenium\chromedriver_74.exe</entry>
<entry key="WebDriverSystemPaths.Firefox"></entry>
<entry key="WebDriverSystemPaths.IE"></entry>
<entry key="WebDriverSystemPaths.Edge"></entry>
<entry key="WebDriverSystemPaths.Opera"></entry>
<entry key="WebDriverSystemPaths.Safari"></entry>
<entry key="WebDriverSystemPaths.iOS_iPhone"></entry>
<entry key="WebDriverSystemPaths.iOS_iPad"></entry>
<entry key="WebDriverSystemPaths.Android"></entry>
<entry key="WebDriverSystemPaths.HtmlUnit"></entry>
<!-- Local -->
<entry key="Local.EnvironPort">8080</entry>
<entry key="Local.WebContextRoot"></entry>
<entry key="Local.WaitSeconds">1</entry>
<entry key="Local.InstantiationMaxRetry">5</entry>
<!-- Test -->
<entry key="Test.EnvironIP">localhost</entry>
<entry key="Test.EnvironPort">8080</entry>
<entry key="Test.WebContextRoot"></entry>
<entry key="Test.WaitSeconds">1</entry>
<entry key="Test.InstantiationMaxRetry">5</entry>
<!-- TestSleeps -->
<entry key="TestSleeps.MilliSecondsBetweenKeyStrokes">100</entry>
<entry key="TestSleeps.MilliSecondsBeforeClick">100</entry>
<entry key="TestSleeps.MilliSecondsAfterClick">100</entry>
<entry key="TestSleeps.MilliSecondSimulateInteractivePause">2000</entry>
<entry key="TestSleeps.MilliSecondDurationOfSuccessMessage">3500</entry>
<!-- SeleniumNodes -->
<entry key="SeleniumNodeCount">1</entry>
<entry key="SeleniumNodeLocal_1">True</entry> <!-- If local is true, no need to specify an url, only the driver type -->
<entry key="SeleniumNodeDriverType_1">Chrome</entry>
<!--
<entry key="SeleniumNodeCount">2</entry>
<entry key="SeleniumNodeLocal_2">False</entry> # Anything other than an explicit "true" will be read as false
<entry key="SeleniumNodeRemoteURL_2">http://localhost:5555/wd/hub</entry>
<entry key="SeleniumNodeDriverType_2">Chrome</entry>
-->
</properties>