<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>-- Properties File Comments --</comment>
<entry key="WebDriverSystemPaths.Chrome">C:\Users\i-am-\Documents\06. PROGRAMS\Programming\Selenium\chromedriver_74.exe</entry>
<entry key="WebDriverSystemPaths.Firefox"></entry>
<entry key="WebDriverSystemPaths.IE"></entry>
<entry key="WebDriverSystemPaths.Edge"></entry>
<entry key="WebDriverSystemPaths.Opera"></entry>
<entry key="WebDriverSystemPaths.Safari"></entry>
<entry key="WebDriverSystemPaths.iOS_iPhone"></entry>
<entry key="WebDriverSystemPaths.iOS_iPad"></entry>
<entry key="WebDriverSystemPaths.Android"></entry>
<entry key="WebDriverSystemPaths.HtmlUnit"></entry>
</properties>